@import url('https://fonts.googleapis.com/css2?family=Slackey&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Batangas&display=swap');

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url('../src/assets/fondo.jpg');
  /* Cambia esta ruta por la de tu imagen */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  /* Mantiene la imagen de fondo fija */
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@import url('https://fonts.googleapis.com/css2?family=Slackey&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Batangas&display=swap');

.batangas-font {
  font-family: 'Batangas', sans-serif;
}

.map-container {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  border: 2px outset #5a189a;
  border-radius: 10;
  margin-inline: 5% 5%;
  writing-mode: horizontal-tb;
}

.map-container iframe {
  left: 0;
  top: 0;
  border: 0;
  height: 100%;
  width: 100%;
  position: absolute;

}

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.8;
  }

  to {
    opacity: 1;
    scale: 1;
  }
}

.CardType {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 20%;
}

.bree-serif-regular {
  font-family: "Bree Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.slackey-regular {
  font-family: 'Slackey', cursive;
}
